.filter {
    display: flex;
    flex-direction: column;
    width: 92%;
    .filter__show {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .filter__options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .filter {
        width: 101%;
    }
}

@media screen and (min-width: 1316px) {
    .filter {
        width: 100%;
    }
}