.content__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content__container {
        display: grid;
        margin-top: 37px;
        width: 63%;
        grid-template-columns: 60% 40%;
        .content__imagery {
            display: flex;
            .main__image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .secondary__images {
                display: flex;
                flex-direction: column;
                img {
                    width: calc(99.5%);
                }
            }
        }
        .content__text {
            height: 100%;
            h1 {
                margin-left: 40px;
                font-family: 'Times New Roman';
                font-size: 2.5rem;
                color: #2c2c2c;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            p {
                margin-left: 40px;
                font-size: 1.1rem;
                color: #2c2c2c;
                margin-top: 20px;
            }
            .content__view {
                display: flex;
                align-items: center;
                margin-top: 42%;
                margin-left: 70%;
                opacity: 0.8;
                h2 {
                    font-size: 1.7rem;
                    font-weight: 300;
                    font-family: 'Times New Roman';
                    transition: 200ms ease-in;
                }
                .forward__icon {
                    margin-left: 30px;
                    transition: 200ms ease-in;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    h2 {
                        margin-left: -20px;
                    }
                    .forward__icon {
                        margin-left: 60px;
                    }
                }
            }
        }
    }
    
}