.pagination {
    display: flex;
    justify-content: column;
    align-items: center;
    margin: 0 auto 6rem auto;
    .pages__container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        .pagination__backIcon {
            margin: 0 .5rem;
            cursor: pointer;
        }
        .pages {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 .5rem;
            border: 1px solid grey;
            width: 1.75rem;
            height: 1.75rem;
            .pages__link {
                font-size: 1rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .pages.active {
            background-color: $chefLightPink;
            color: white;
            border: 1px solid $chefLightPink;
        }
        .pages__ellipses {
            margin: 1rem .3rem 0 .3rem;
        }
        .pagination__forwardIcon {
            margin: 0 .5rem;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1312px) {
    .pagination {
        display: flex;
        justify-content: column;
        align-items: center;
        margin: 2rem auto 8rem auto;
        .pages__container {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            .pagination__backIcon {
                margin: 0 .5rem;
                cursor: pointer;
            }
            .pages {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 .5rem;
                border: 1px solid grey;
                width: 2.25rem;
                height: 2.25rem;
                .pages__link {
                    
                    font-size: 1rem;
                    
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .pages.active {
                background-color: $chefLightPink;
                color: white;
                border: 1px solid $chefLightPink;
            }
            .pages__ellipses {
                margin: 1rem .3rem 0 .3rem;
            }
            .pagination__forwardIcon {
                margin: 0 .5rem;
                cursor: pointer;
                
            }
        }
        .total__pages {
            
            font-size: 1rem;
        }
    }
}