.recipes {
    display: grid;
    justify-content: center;
    width: calc(64%);
    grid-template-columns: repeat(auto-fit, minmax(263px, 225px));
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 4rem;
}

@media query and (min-width: 768px) {

}

@media query and (min-width: 1312px) {

}

