.recipes {
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(77vw, 225px));
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

@media query and (min-width: 768px) {

}

@media query and (min-width: 1312px) {

}

