.recipe__page {
    background-color: #fcfcfc;
    padding-top: 150px;
    .recipe__container {
        padding-top: 20px;
        min-width: 1000px;
        width: 64%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .recipe__header {
            display: flex;
            .float__bar {
                background-color: $chefLightPink;
                height: 120px;
                width: 13px;
            }
            .recipe__title {
                display: flex;
                flex-direction: column;
                margin-left: 1.5rem;
                h1 {
                    font-family: 'Source Serif Pro', serif;
                    font-weight: 600;
                    font-size: 5rem;
                    color: $dark;
                    margin-top: -7px;
                }
                .recipe__label {
                    display: flex;
                    margin-top: -3px;
                    p {
                        color: $chefLightPink;
                        font-size: 1.2rem;
                        margin-left: 3px;
                        margin-top: 7px;
                        .dot {
                            color: $dark;
                            margin: 0 10px;
                            font-size: .7rem;
                        }
                    }
                }
            }
            .recipe__counter {
                display: flex;
                margin-left: auto;
                align-items: center;
                margin-top: -1.5rem;
                .yield__icon {
                    font-size: 2rem;
                    color: $dark;
                }
                p {
                    color: $chefPink;
                    font-size: 2rem;
                    margin-left: 8px;
                }
            }
        }
        .border {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            span {
                width: 43%;
                display: flex;
                background-color: $dark;
                height: 2px;
                border-radius: 50%;
            }
            p {
                color: $chefPink;

                min-width: 125px;
                margin: 0 30px;
                font-family: 'Segoe Script';
            }
        }
        .recipe__grid {
            display: grid;
            grid-template-columns: 1.2fr .9fr 1.05fr;
            grid-column-gap: 40px;
            margin-top: 75px;
            margin-bottom: 35px;
            .recipe__firstCol {
                .recipe__image {
                    height: 43vh;
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
                .recipe__nutritional {
                    background-color: white;
                    margin-top: 40px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                    padding: 30px 35px;
                    
                    h3 {
                        color: $chefLightPink;
                        font-weight: 400;
                    }
                    p {
                        margin-left: auto;
                        font-size: 1.05rem;
                    }
                    .recipe__cals {
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        h3 {
                            font-size: 1.2rem;
                        }
                    }
                    .recipe__fat {
                        display: flex;
                        align-items: center;
                        margin-top: 7px;
                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                    .recipe__protein {
                        display: flex;
                        align-items: center;
                        margin-top: 7px;
                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                    .recipe__carbs {
                        display: flex;
                        align-items: center;
                        margin-top: 7px;
                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                    .recipe__sugars {
                        display: flex;
                        align-items: center;
                        margin-top: 5px;
                        h3 {
                            font-size: 1rem;
                            margin-left: 5em;
                        }
                    }
                }
            }
            .recipe__secondCol {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                h3 {
                    color: $chefLightPink;
                    font-weight: 300;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }
                li {
                    font-size: 1rem;
                    margin-top: 5px;
                }
            }
            .recipe__thirdCol {
                background-color: rgb(136,136,136, 0.8);
                padding: 15px;
                    .recipe__info {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid $chefLightPink;
                        height: 95%;
                        width: 85%;
                        padding: 10px 25px;
                        text-transform: capitalize;
                        .recipe__cardIcon {
                            position: absolute;
                            color: #fcfcfc;
                            top: 0;
                            right: 0;
                            padding: 20px;
                            font-size: 4rem;
                        }
                        h2 {
                            color: $chefLightPink;
                            font-weight: 400;
                            font-size: 1.5rem;
                            margin-top: 10px;
                        }
                        p {
                            font-size: 1.1rem;
                            margin-top: 5px;
                            color: #fcfcfc;
                        }
                        a {
                            margin: 7px 0;
                            color: #ffb0b0;
                            line-height: 1;
                        }
                        .info__icon {
                            font-size: 1.75rem;
                            margin-right: 10px;
                        }
                        .url {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                        .mealType {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                        .dishType {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                        .totalTime {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                        .totalCal {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                        .cuisineType {
                            display: flex;
                            align-items: center;
                            color: #fcfcfc;
                        }
                    }
            }
        }
        .extra__recipes {
            margin-top: 80px;
            padding-bottom: 300px;
            h2 {
                font-family: 'Source Serif Pro', serif;
                font-size: 2rem;
            }
        }
    }
}