.results__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    position: relative;
    .scroll__top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 2rem;
        bottom: 40rem;
        width: 3rem;
        height: 3rem;
        z-index: 10;
        background-color: grey;
        visibility: hidden;
        opacity: 0;
        transition: 500ms ease-in;
        cursor: pointer;
        &:hover {
            background-color: rgb(170, 170, 170);
        }
        .icon {
            font-size: 3rem;
            color: $chefLightPink;
        }
    }
    .scroll__top.active {
        bottom: 2.5rem;
        visibility: visible;
        opacity: 1;
    }
    .search__header {
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        .search__title {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            text-align: center;
            align-items: center;
            h1 {
                margin-top: .75rem;
                width: 80%;
                font-family: 'Source Serif Pro', serif;
                font-weight: 600;
                font-size: 2.5rem;
                color: $dark;
            }
            p {
                color: $chefPink;
                font-size: .9rem;
            }
            span {
                color: $chefPink;
            }
        }
    }
    .search {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form {
            background-color: white;
            .search__box {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                button {
                    display: none;
                }
                .search__icon {
                    margin-left: 1rem;
                    opacity: 0.7;
                    font-size: 1.5rem;
                }
                input {
                    outline: none;
                    padding: .75rem 1rem;
                    border: none;
                    width: 60vw;
                    height: 1.5rem;
                    font-size: 1rem;
                    font-weight: 300;
                    color: #2c2c2c;
                    display: flex;
                    justify-content: center;
                    &::placeholder {
                        font-size: .95rem;
                        text-align: center;
                    }
                    &:focus::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
    .filter {
        display: none;
    }
    .arrow {
        display: none;
        
    }
    .loading__recipes {
        margin-top: 3rem;
    }
    .recipes {
        display: grid;
        justify-content: center;
        width: 100%;
        grid-template-columns: repeat(1, 95%);
        gap: 2rem;
        margin: 0 auto;
        margin-top: 3.5rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
        background-color: #b4b4b4;
    }
}

@media screen and (min-width: 768px) {
    .results__page {
        display: flex;
        .search__header {
            padding-top: 6.5rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            text-align: left;
            width: 93%;
            .float__bar {
                background-color: $chefLightPink;
                height: 5rem;
                width: .5rem;
                margin-top: .9rem;
            }
            .search__title {
                border: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: left;
                align-items: start;
                margin-left: 2rem;
                h1 {
                    width: 100%;
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1rem;
                    text-align: left;
                }
            }
        }
        .search {
            margin-top: 2rem;
            width: 93%;
            display: flex;
            justify-content: flex-start;
            align-items: start;
            .form {
                .search__box {
                    input {
                        width: 40vw;
                    }
                }
            }
            
        }
        .recipes {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 46%);
            width: 100%;
            grid-gap: 30px;
        }
        .arrow {
            display: flex;
            width: 8rem;
            position: absolute;
            top: 15rem;
            left: 10%;
            transform: rotate(10deg);
        }
    }
}

@media screen and (min-width: 1312px) {
    .results__page {
        .search__header {
            padding-top: 7rem;
            width: 85%;
            .float__bar {
                height: 5.5rem;
                margin-top: 1rem;
            }
            .search__title {
                h1 {
                    font-size: 2.75rem;
                }
            }
        }
        .search {
            width: 85%;
            .form {
                .search__box {
                    width: 20vw;
                }
            }
        }
        .recipes {
            margin-top: 4rem;
            padding-top: 5rem;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 20%);
        }
    }
}