.results__page {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    .search__header {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: calc(63.5%);
        .search__container {
            display: flex;
            .float__bar {
                margin-top: 5px;
                height: 95px;
                background-color: $chefLightPink;
                width: 9px;
            }
            .search__title {
                margin-left: 27px;
                h1 {
                    margin-top: -5px;
                    font-family: 'Source Serif Pro', serif;
                    font-size: 3.5rem;
                    font-weight: 600;
                    color: #2c2c2c;
                }
                p {
                    margin-top: 10px;
                    margin-left: 2px;
                    font-size: 1.2rem;
                    opacity: 0.9; 
                    color: $chefLightPink;
                }
            }
        }
        .search {
            display: flex;
            flex-direction: column;
            padding-top: 35px;
            .form {
                width: 30vw;
                .search__box {
                    display: flex;
                    align-items: center;
                    margin-top: 27px;
                    background-color: rgba(255, 255, 255);
                    button {
                        display: none;
                    }
                    .search__icon {
                        margin-left: 23px;
                        opacity: 0.2;
                        font-size: 2.7rem;
                    }
                    input {
                        background: none;
                        margin-left: 20px;
                        outline: none;
                        border: none;
                        padding: 20px;
                        width: 100%;
                        font-size: 1rem;
                        font-weight: 300;
                        margin-right: 20px;
                        color: #2c2c2c;
                        display: flex;
                        justify-content: center;
                        &::placeholder {
                            font-size: 1.15rem;
                            opacity: 0.7;
                            text-align: center;
                            margin-left: 80px;
                        }
                        &:focus::placeholder {
                            color: transparent;
                        }
                    }
                }
            }
        }
        .filter {
            display: flex;
            margin-left: auto;
            margin-top: 40px;
            p {
                margin-top: 2px;
                font-size: 1rem;
            }
            .filter__icon {
                margin-left: 5px;
                margin-top: 3px;
                font-size: 1.5rem;
            }
            &:hover {
                cursor: pointer
            }
        }
    }
    .arrow {
        width: 180px;
        position: absolute;
        top: 37vh;
        left: 8vw;
        transform: rotate(-10deg);
    }
    .loading__recipes {
        display: flex;
        justify-content: center;
        width: calc(63.5%);
        margin: 0 auto;
        padding-top: 10vh;
        padding-bottom: 50vh;
    }
    .border {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 70px;
        span {
            width: 27.4%;
            display: flex;
            background-color: #2c2c2c;
            height: 2px;
            border-radius: 50%;
        }
        p {
            color: $chefLightPink;
            margin: 0 32px;
            font-family: 'Segoe Script';
        }
    }
}