@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Serif+Pro:wght@300;400;600;700&display=swap');

$chefPink: #ec8694;
$chefLightPink: #ffd7ef;
$chefGrey: #B9BAb8;
$dark: #1c1c1c;

@import './Pages/all';
@import './Components/all';
@import './Base/all';


* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    a:-webkit-any-link {
        text-decoration: none;
        color: inherit;
    }
}

body {
    overflow-x: hidden;
    background-color: #fcfcfc;
}
