@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$chefPink: #ED7575;
$chefLightPink: #F3A2A2;

@import './navbar';
@import './search';
@import './recipe';
@import './recipes';
@import './results';
@import './home';
@import './heroContent';
@import './blog';
@import './newsletter';
@import './footer';

* {
    margin: 0;
    font-family: 'Poppins';
    a:-webkit-any-link {
        text-decoration: none;
        color: inherit;
    }
}