.footer {
    width: 100%;
    display: flex;
    margin-top: auto;
    background-color: $dark;
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 77%;
        padding: 3.5rem 0 5rem 0;
        margin: 0 auto;
        .container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 6rem;
            grid-row-gap: 2rem;
            justify-content: center;
            padding-bottom: 7rem;
            .footer__logo {
                color: white;
                h2 {
                    font-family: 'Calistoga', serif;
                    font-size: 3.4rem;
                    font-weight: 100;
                    &:hover {
                        cursor: pointer;
                    }
                }
                p {
                    margin-top: 1rem;
                    font-size: 1.05rem;
                }
                .footer__icons {
                    margin-top: .8rem;
                    display: flex;
                    justify-content: space-between;
                    .footer__icon {
                        width: 2rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .footer__links {
                margin-top: .5rem;
                color: white;
                h2 {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: .5rem;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                
            }
            .footer__media {
                color: white;
                h2 {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: .5rem;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                }
                }
            }
            .footer__legal {
                color: white;
                h2 {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: .5rem;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                }
                }
            }
        }
        .footer__copyright {
            display: flex;
            align-items: center;
            .copyright {
                font-weight: 300;
                font-size: .85rem;
                color: white;
            }
            .icon {
                color: white;
                margin-top: -2px;
                margin-left: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        
        .footer__container {
            width: 85%;
            .container {
                display: flex;
                justify-content: space-between;
                width: 100%;
                column-gap: 0;
                .footer__logo {
                    h2 {
                        font-size: 3.25rem;
                    }
                    p {
                        font-size: .9rem;
                    }
                    .footer__icons {
                        margin-top: 1rem;
                        width: 100%;
                        .footer_icon {
                            width: 1.8rem;
                        }
                    }
                }
                .footer__links {
                    margin-top: 0;
                    h2 {
                        font-size: 1.2rem;
                    }
                }
                .footer__media {
                    margin-left: 1rem;
                    }
                    p {
                        font-size: .8rem;
                    }
                }
                .footer__legal {
                    p {
                        font-size: .8rem;
                    }
                }
        }
    }
}

@media screen and (min-width: 1312px) {
    .footer {
        .footer__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding: 2.5rem 0 2rem 0;
            .container {
                display: flex;
                justify-content: space-between;
                padding-bottom: 3rem;
                .footer__logo {
                    margin-top: -1rem;
                    h2 {
                        font-size: 3.25rem;
                    }
                    p {
                        font-size: .9rem;
                    }
                    .footer__icons {
                        margin-top: 1rem;
                        width: 100%;
                        .footer_icon {
                            width: 1.8rem;
                        }
                    }
                }
            }
            .footer__copyright {
                .copyright {
                    font-size: .8rem;
                    color: white;
                }
                .icon {
                    color: white;
                    margin-top: -2px;
                    margin-left: 1.3rem;
                }
            }
            
        }
        
    }
}