.nav {
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    z-index: 10;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 0;
        transition: 200ms ease-in;
        .nav__left {
            display: flex;
            align-items: center;
            .navbar__toggle {
                z-index: 100;
                display: flex;
                flex-direction: column;
                transition: 200ms;
                cursor: pointer;
                .menu__bar {
                    display: block;
                    width: 1.5rem;
                    height: 3px;
                    opacity: 0.8;
                    margin: 2.7px auto;
                    background-color: #0c0c0c;
                    transition: all 0.3s ease-in-out;
                }
            }
            .navbar__toggle.active {
                .menu__bar:nth-child(2) {
                    opacity: 0;
                }
                .menu__bar:nth-child(1) {
                    transform: translateY(8px) rotate(135deg);
                    height: 3px;
                }
                .menu__bar:nth-child(3) {
                    height: 3px;
                    transform: translateY(-8px) rotate(-135deg);
                }
            }
            .navbar__logo {
                .logo {
                    display: none;
                }
                .nav__logo {
                    margin-top: -3px;
                    margin-left: 1.25rem;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 2rem;
                    font-family: 'Calistoga', serif;
                    color: $chefPink;
                    font-weight: 200;
                }
            }
            .navbar__menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                transition: all .75s ease;
                background-color: #7e7e7e;
                left: -1000px;
                top: 3.45rem;
                opacity: 1;
                width: 100%;
                height: 8.2rem;
                z-index: 99;
                list-style: none;
                padding-left: 2.5rem;
                padding-top: .8rem;
                .navbar__item {
                    margin: .5rem 0;
                    .navbar__links {
                        font-size: 1rem;
                        color: white;

                        font-weight: 400;
                    }
                }
            }
            .navbar__menu.active {
                display: flex;
                flex-direction: column;
                position: absolute;
                transition: all .75s ease;
                background-color: #6d6d6d;
                left: 0px;
                top: 3.45rem;
                opacity: 1;
                width: 100%;
                height: 8.2rem;
                z-index: 99;
                list-style: none; 
                padding-left: 2.5rem;
                
                .navbar__item {
                    margin: .5rem 0;
                    .navbar__links {
                        font-size: 1.1rem;
                        font-family: 'Source Sans Pro', sans-serif;
                        color: white;
                        font-weight: 400;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .nav__right {
            display: flex;
            align-items: center;
            h4 {
                display: flex;
                font-family: 'Source Sans Pro', sans-serif;
                color: $dark;
                font-weight: 400;
                font-size: 1rem;
            }
            .nav__icons {
                display: flex;
                margin-left: .5rem;
                margin-right: 1rem;
                .nav__icon {
                    margin: 0 .2rem;
                    transform: scale(.8);
                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
            .favourites {
                display: flex;
                align-items: center;
                h4 {
                    margin-top: -.1rem;
                    color: #6d6d6d;
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-right: .5rem;
                }
                .fav__icon {
                    font-size: 2.15rem;
                    color: $chefPink;
                    margin-top: 0.5rem;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.5;
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: 60px;
        .navbar {
            width: 90%;
            .nav__left {
                .navbar__toggle {
                    display: none;
                }
                .navbar__logo {
                    .nav__logo {
                        margin-top: .1rem;
                        margin-left: 0;
                        font-size: 2.25rem;
                    }
                }
                .navbar__menu {
                    display: flex;
                    flex-direction: row;
                    background: none;
                    position: static;
                    transition: 0;
                    border: none;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 0;
                    margin-left: 1.5rem;
                    margin-top: 0.2rem;
                    .navbar__item {
                        margin: 0 .6rem;
                        .navbar__links {
                            color: $dark;
                            opacity: 0.8;
                            font-weight: 400;
                            font-size: .9rem;
                            &:hover {
                                color: black;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .nav__right {
                h4 {
                    display: flex;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 400;
                    font-size: .95rem;
                }
                .nav__icons {
                    display: flex;
                    margin-left: .5rem;
                    margin-right: 2rem;
                    .nav__icon {
                        margin: 0 .3rem;
                        transform: scale(.8);
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
                .favourites {
                    .fav__icon {
                        margin-left: .2rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1312px) {
    .nav {
        height: 60px;
        .navbar {
            width: 65%;
            .nav__left {
                .navbar__logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 0;
                    margin-top: 0;
                    .nav__logo {
                        margin-top: -.1rem;
                        font-size: 2.35rem;
                        transition: 200ms ease-in;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .navbar__menu {
                    margin-left: 2rem;
                    .navbar__item {
                        margin: 0 .85rem;
                        .navbar__links {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .nav__right {
                display: flex;
                align-items: center;
                .nav__icons {
                    display: flex;
                    margin-left: 1rem;
                    .nav__icon {
                        margin: 0 .6rem;
                        transform: scale(1);
                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                            
                        }
                        &:nth-child(3) {
                            display: block;
                        }
                    }
                    
                }
                .favourites {
                    h4 {
                        font-size: 1.4rem;
                    }
                    .fav__icon {
                        margin-left: .4rem;
                        margin-right: .6rem;
                        transform: scale(1.2);
                    }
                }
                
            }
        }
    }
}